@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Jost:wght@300&display=swap');
.form-group{
    margin-top: 0.9rem;
    margin-right: 3.6rem;
    width: 20rem;
    height: 20;
}

.faceexp img{
    height: 10rem;
    width: 10rem;
    margin-left: 8rem;
}
/* for button */
.signin {
    background: #364547;
    box-shadow: -3px 4px 8px #635a5a, 3px 3px 7px rgb(6 9 12 / 64%);
    border: none;
    font-size: 1.4rem;
    padding: 1.4rem;
    width: 22rem;
    font-weight: bold;
    color: #FAFF00;
    margin-top: 2.1rem;
    margin-left: 2.2rem;
    border-radius: 2rem;
    font-family: 'Gemunu Libre', sans-serif;
}
/*for Custom form input with div*/
.form-input {
    display: inline-flex;
    border: none;
    margin-top: 1.1rem;
    padding: 0.4rem;
    border-radius: 1.3rem;
    width: 26rem;
    box-shadow: inset -3px 4px 8px #2b2727d6, inset 3px 3px 7px rgb(0 0 0 / 24%);
}
   
.fa {
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1.6rem;
    margin-left: 0.5rem;
    color: #d1c9fb;
}

.append-icon{
    margin-right: 0.4rem !important;
}
label{
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FAFF00;
    font-family: 'Gemunu Libre', sans-serif;
    margin-left: 0.5rem;
}
.fa-eye-slash 
{
   color: #FAFF00;
}
input {
    width: 15rem;
    margin-top: 0.15rem;
    color: white;
    background: transparent;
    margin-right: auto;
    margin-left: 0.9rem;
    padding: 0.3rem;
    border: none;
    display: block;
    font-size: 1.5rem;
    outline: none;
}

.register-msg{
    margin-top: 1.5rem;
    margin-left: 7.2rem;
    font-size: 1.2rem;
    font-family: 'Jost', sans-serif;
    color: #FAFF00;
}

.other-msg {
    margin-top: 1.2rem;
    margin-left: 9.1rem;
    font-size: 0.9rem;
    font-family: 'Jost', sans-serif;
    color: #72e415;
}
a{
    color:aliceblue;
}
/*low Res laptops*/
@media screen and (max-width: 1024px){

    .faceexp img{
        height: 7rem;
        width: 7rem;
        margin-left: 6rem;
        margin-top: 1rem;
    }

    .form-group{
        margin-top: 1.6rem;
      }
     
    .form-input{
        width: 19rem;
        border-radius: 0.8rem;
        margin-top: 0.4rem;
        padding: 0.1rem;
    }
    
    .fa{
        font-size: 1.2rem;
        margin-left: 0.5rem;
        color: #d1c9fb;
    }
    
    .append-icon {
        margin-right: 5rem !important;
        margin-left: 3rem;
    }
    
    input{
        padding: 0.6rem;
        font-size: 0.8rem;
    }
    
    .signin {
        margin-left: -1.2rem;
        font-size: 0.9rem;
        width: 17rem;
        margin-left: 0.9rem;
        padding: 0.9rem;
    }
    
    label {
        font-size: 0.8rem;
    }
    .register-msg {
        margin-top: 1.6rem;
        margin-left: 4.8rem;
        font-size: 0.9rem;
    }
    .other-msg {
        margin-top: 0.2rem;
        margin-left: 5.4rem;
        font-size: 0.8rem;
    }
    
}

/* for mobile and tablet */
@media only screen and (max-width: 768px) {

    .form-group{
        margin-top: 1.2rem;
        margin-left: 22%;
    }
    
    .signin{
        margin-left: 9.2rem;
    }
    
      .faceexp img {
        height: 6rem;
        width: 6rem;
        margin-left: 14rem;
        margin-top: 1rem;
    }

    .register-msg {
        margin-top: 1.6rem;
        margin-left: 12.8rem;
        font-size: 0.9rem;
    }
    
    .other-msg {
        margin-top: 0.2rem;
        margin-left: 13.4rem;
        font-size: 0.8rem;
    }
    
    .Authproviders {
        margin-left: -1rem;
        margin-top: 1rem;
    }
    
    .Authproviderbutton {
        height: 2rem;
        width: 2rem;
        border-radius: 4rem;
        margin-left: 2rem;
    }
    
    .social-icon {
        font-size: 1.3rem;
        margin-left: 0.5rem;
        margin-top: 0.4rem;
    }
    
  }

  /*for mobile devices and small devices */
  @media only screen and (max-width: 767px) {
    .faceexp img {
        height: 5rem;
        width: 5rem;
        margin-left: 13rem;
        margin-top: 1rem;
    }
    .form-group{
        margin-top: 1.6rem;
        margin-left: 21%;
        padding: 0.3rem;
        width:10rem;
    }
    label {
        font-size: 1rem;
        margin-left: 0.4rem;
    }
    
    .form-input{
        width: 17rem;
        border-radius: 0.8rem;
        margin-top: 0.4rem;
        padding: 0.1rem;
    }

    
    .fa {
        margin-bottom: auto;
        margin-top: auto;
        font-size: 1.4rem;
        margin-left: 0.5rem;
        color: #d1c9fb;
    }
    
    .append-icon{
        margin-right: 5rem !important;
        margin-left: 2rem;
    }


    input {
        width: 18rem;
        margin-top: 0.15rem;
        margin-right: auto;
        margin-left: 0.3rem;
    }
    
    .signin {
        font-size: 0.9rem;
        margin-left: 8.3rem;
        width: 13rem;
    }
    
    .register-msg{
        margin-top: 1.6rem;
        margin-left: 10rem;
        font-size: 0.9rem;
    }
    
    .other-msg {
        margin-top: 0.2rem;
        margin-left: 10.1rem;
        font-size: 0.8rem;
    }
    
   
    
    .Authproviderbutton{
        height: 2rem;
        width: 2rem;
        border-radius: 4rem;
        margin-left: 2rem;
    }
    
    .social-icon{
        font-size: 1.3rem;
        margin-left: 0.5rem;
        margin-top: 0.4rem;
    }
}

@media only screen and (max-width: 375px){
    .faceexp img {
        margin-left: 12rem;
    }
    
    .form-group{
      margin-left: 5.5rem;
    }
    
    .form-input{
        width: 18rem;
    }


}